*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.text-light:hover{
    color: rgb(241, 56, 56) !important;
}

.footerlink:hover{
    text-decoration: underline !important;
}
